#Pandas Exercises

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Salaries.csv')

/tmp/ipython-input-2928864109.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Salaries.csv')

In [ ]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
#Using the info method to find out how many entries there are:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [ ]:
#Taking the average of BasePay col:

# data['BasePay'].mean() : this will give error as not all values are numbers here so first we need to convert them to numbers:

data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')
data["BasePay"].describe()

count    148045.000000
mean      66325.448840
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: BasePay, dtype: float64

In [ ]:
print(data["BasePay"].mean())

66325.4488404877

In [ ]:
#Maximum amount of OvertimePay:
data['OvertimePay'] = pd.to_numeric(data['OvertimePay'], errors='coerce')
data['OvertimePay'].max()

245131.88

In [ ]:
# What is the job title of JOSEPH DRISCOLL ?
data[data["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
#How much does JOSEPH DRISCOLL make (including benefits)?

data[data['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
# Name of highest paid person:

name = data["TotalPayBenefits"].max()
data['EmployeeName'][data["TotalPayBenefits"] == name]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [ ]:
#Lowest paid person :
data['TotalPayBenefits'].min()

#The strange thing is his TotalPayBenefits amount is negative

-618.13

In [ ]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ?

data.groupby('Year')[data.select_dtypes(include='number').columns].mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
#Unique job titles:

data['JobTitle'].nunique()

2159

In [ ]:
#Top 5 common jobs:

data['JobTitle'].value_counts()
data['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [ ]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

import numpy as np
values = data[data['Year'] == 2013]["JobTitle"].value_counts() == 1
print(np.sum(values == True))

202

In [ ]:
#People with word "Chief" in their job title:

sum(data['JobTitle'].str.contains("Chief"))

423

In [ ]:
#Bonus question (Correlation):

# data["JobTitle"].corr(data["TotalPayBenefits"])
data["JobTitle"].str.len().corr(data["TotalPayBenefits"])

np.float64(-0.036878445932606675)